@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%; */
}

.btn {
  display: block;
  font-size: 14;
  background: #454890;
  width: 112px;
  height: 32px;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

/* header */
.header {
  height: 64px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #000;
  background: #fff;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header ul {
  display: flex;
  margin-right: 60px;
}

.header ul li a {
  display: block;
  padding: 0 18px;
  height: 64px;
  line-height: 64px;
}

.header .logo {
  margin-right: auto;
}

/* container */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* slide */
.slide_container {
  height: 700px;
  background: url("../images/bg_img.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.container.slide {
  display: flex;
  height: 700px;
  justify-content: center;
  flex-direction: column;
}

.slide_container h1 {
  font-size: 64px;
  font-weight: 800;
  font-family: "Qwigley", cursive;
}

.slide_container p {
  font-size: 18px;
  padding: 30px 0 36px;
  line-height: 1.6;
}

.slide_btn {
  display: block;
  width: 200px;
  height: 60px;
  background: #454890;
  line-height: 60px;
  text-align: center;
  border-radius: 6px;
}

/* content */
.content {
}

/* section_01 */
.sec_01 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0 72px;
}

.sec_01 .container h4 {
  font-size: 24px;
  padding-bottom: 32px;
}

.sec_01 .avatar {
  display: flex;
}

.sec_01 .avatar div {
  margin: 0 20px;
}

.sec_01 .avatar p {
  text-align: center;
}

.sec_01 .avatar .btn {
  margin: 0 auto;
}

/* section_02 */
.sec_02 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0 72px;
}

.sec_02 .container .web_card1,
.sec_02 .container .web_card2 {
  display: flex;
  padding: 48px 0 72px;
  width: 1170px;
}

.section sec_02 h3 {
  text-align: center;
}

.web_card1 p {
  text-align: center;
}

.web_card1 .btn {
  margin: 0 auto;
}

.web_card2 p {
  text-align: center;
}

.web_card2 .btn {
  margin: 0 auto;
}

/* section_03 */
.section.sec_03 {
  text-align: center;
  display: flex;
}

.section.sec_03 .slide1,
.section.sec_03 .slide2,
.section.sec_03 .slide3 {
  display: flex;
  padding: 48px 0 72px;
}

/* section_04 */
.section.sec_04 {
  height: 600px;
  text-align: center;
  padding: 135px 0;
}

.banner {
  display: flex;
}

/* section_05 */
.section.sec_05 {
  height: 3500px;
  text-align: center;
  padding: 300px 0;
}

.section.sec_05 .photo2,
.photo3,
.photo4,
.photo5 {
  display: flex;
}

/* footer */
.footer {
  background: url(../images/footer.jpg) no-repeat;
  height: 700px;
  background-position: center;
  background-size: cover;
}

.footer p {
  font-size: 64px;
  font-weight: 800;
  font-family: "Qwigley", cursive;
}
