@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --primary: #111;
  --accent: #eb5757;
  --gray-dark: #666;
  --gray-light: #f5f5f5;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: var(--primary);
  font-size: 16px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.section {
  padding: 70px 0;
}

.footer {
  margin-top: 70px;
}

h2 {
  align-items: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -1px;
}

h3 {
  font-size: 36px;
  font-weight: 800;
}

h4 {
  font-size: 30px;
  font-weight: 800;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #111;
  padding: 14px 40px;
  border-radius: 80px;
}

.btn_line {
  background: #fff;
  color: #111;
  padding: 10px 26px;
  font-size: 14px;
  border-radius: 80px;
}

.btn_white {
  background: #fff;
  color: #111;
  border: 1px solid #fff;
}

/* header */

.top {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-right: 30px;
}

.nav a {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  font-size: 14px;
}

.nav a.on {
  color: var(--accent);
}

.logo {
  margin-right: auto;
}

.cart {
  display: block;
  position: relative;
}

.cart i {
  font-size: 22px;
  font-weight: 700;
}

.cart span {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: red;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}

/* slide */
.slider {
  margin-bottom: 70px;
}

.slide {
  height: 600px;
  background: url("../images/slide.jpg") no-repeat center;
  background-size: cover;
  padding: initial;
}

.slide_text {
  padding-top: 150px;
  color: #fff;
}

.slide_text h2 {
  align-items: center;
  margin-bottom: 86px;
}

.slide_text p {
  margin-bottom: 60px;
}

.slide_text .btns {
  margin-right: 30px;
}

.slide_text .detail_view {
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid #111;
  margin-right: 40px;
}

/* section_01 */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  color: #fff;
  width: 560px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:nth-child(1) {
  background: url("../images/bookstore1.png") no-repeat;
}

.container_card {
  position: absolute;
  top: 80px;
  left: -50px;
}

.card .card_text {
  margin-left: 160px;
}

.card .card_text p {
  padding: 16px 0 36px;
}

.card:nth-child(2) {
  background: url("../images/bookstore2.png") no-repeat;
}

.card .card_text {
  margin-left: 160px;
}

.card .card_text p {
  padding: 16px 0 36px;
}

/* section_02 */
.list {
  display: flex;
  justify-content: space-between;
}

.list li {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li img {
  width: 100%;
}

.title {
  margin-bottom: 60px;
  text-align: center;
}

.title h3 {
  margin-bottom: 32px;
}

/* section_banner */
.banner {
  padding: initial;
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
  color: #fff;
  height: 600px;
}

.banner_text {
  padding-top: 160px;
}

.banner_text p {
  padding: 46px 0 52px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
}

/* section_03 */
.section_03 .list {
  flex-wrap: wrap;
}

.section_03 .list li:nth-child(1),
.section_03 .list li:nth-child(2),
.section_03 .list li:nth-child(3),
.section_03 .list li:nth-child(4) {
  margin-bottom: 40px;
}

/* section_04 */
.section_04 li {
  width: 360px;
  height: 360px;
  border-radius: 30px;
  overflow: hidden;
}

.section_04 li img {
  width: 100%;
}

/* footer */
.footer {
  background: #222;
  padding: 120px 0 100px;
  color: #fff;
}

.left {
  float: left;
  width: 50%;
}

.left .logo {
  display: block;
  width: 126px;
  filter: invert();
  margin-bottom: 36px;
}

.left p {
  font-size: 14px;
  line-height: 1.2;
}

.left form {
  display: flex;
  padding: 20px 0;
}

.left form input {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.left form input::placeholder {
  color: var(--gray-dark);
}

.left form button {
  display: block;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background: var(--accent);
  color: var(--gray-light);
}

.left .download {
  margin-bottom: 20px;
}

.left .download a {
  display: inline-block;
}

.left .download a:nth-child(1) {
  margin-right: 20px;
}

.right {
  float: left;
  width: 50%;
}

.menu {
  display: flex;
}

.menu > li {
  width: 200px;
}

.menu > li > a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 38px;
}

.menu ul a {
  display: block;
  padding: 16px 0;
}

.copyright {
  clear: both;
  font-size: 12px;
  padding-top: 40px;
}
